<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}\.php -f
    RewriteRule ^(.*)$ $1.php [L]
</IfModule>

<IfModule mod_mime.c>
    AddType application/javascript .mjs
</IfModule>

php_value upload_max_filesize 10M
php_value post_max_size 10M
php_value max_input_vars 1000
